.car {
  width: 300px;
  height: 550px;
  position: relative;
  transition: transform .3s linear;
}

.car__body {
  display: inline-block;
  background-color: #b2ebf2;
  width: 300px;
  height: 550px;
}

.car__shield {
  background-color: #00acc1;
  width: 250px;
  height: 100px;
  margin: 50px auto 0;
}

.car__wheel {
  position: absolute;
  width: 20px;
  height: 100px;
  background-color: #b2ebf2;
  border: 3px solid #26c6da;
}
.car__wheel_front {
  top: 60px;
}

.car__wheel_back {
  bottom: 60px;
}

.car_wheel_left {
  left: -10px;
}

.car_wheel_right {
  right: -10px;
}
